<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>servletlistarcate</servlet-name>
        <servlet-class>controladoradmin.servletlistarcate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvnewcat</servlet-name>
        <servlet-class>controladoradmin.srvnewcat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvnewtempo</servlet-name>
        <servlet-class>controladoradmin.srvnewtempo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newproduct</servlet-name>
        <servlet-class>controladoradmin.newproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvnewproduct</servlet-name>
        <servlet-class>controladoradmin.srvnewproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvnewstock</servlet-name>
        <servlet-class>controladoradmin.srvnewstock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvfirststock</servlet-name>
        <servlet-class>controladoradmin.srvfirststock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ttt</servlet-name>
        <servlet-class>controladoradmin.ttt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvmantetempo</servlet-name>
        <servlet-class>controladoradmin.srvmantetempo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvlistarproporcat</servlet-name>
        <servlet-class>controladoradmin.srvlistarproporcat</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletlistarcate</servlet-name>
        <url-pattern>/servletlistarcate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvnewcat</servlet-name>
        <url-pattern>/srvnewcat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvnewtempo</servlet-name>
        <url-pattern>/srvnewtempo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newproduct</servlet-name>
        <url-pattern>/newproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvnewproduct</servlet-name>
        <url-pattern>/srvnewproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvnewstock</servlet-name>
        <url-pattern>/srvnewstock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvfirststock</servlet-name>
        <url-pattern>/srvfirststock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ttt</servlet-name>
        <url-pattern>/ttt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvmantetempo</servlet-name>
        <url-pattern>/srvmantetempo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvlistarproporcat</servlet-name>
        <url-pattern>/srvlistarproporcat</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
